div {
  background-color: transparent !important;
}

input {
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-radius: 0px !important;
  background-color: transparent !important;
}

.input-group-text {
  border : none !important;
}

/*Login*/
.main {
  max-width: 330px;
  margin: 0 auto;
  padding: 15px;
  text-align: center!important;
}
.login-or {
  position: relative;
  font-size: 18px;
  color: #aaa;
  margin-top: 10px;
          margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: #fff;
  width: 50px;
  text-align: center;
}
.hr-or {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
h3 {
  text-align: center;
  line-height: 300%;
}

/*User Landing*/
.background-blue {
    background-image: url("/img/BGTop_Blue.png");
    background-repeat: no-repeat, no-repeat;
    background-size: contain;
}

.background-red {
  background-image: url("/img/BGTop_Red.png");
  background-repeat: no-repeat, no-repeat;
  background-size: contain;
}

.container {
    max-width: 330px;
    width: 330px !important;
}

.icon-addon {
    position: relative;
    color: #555;
    display: block;
}

.icon-addon.addon-md .form-control, .icon-addon .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
}

.icon-addon.addon-md .glyphicon, .icon-addon .glyphicon, .icon-addon.addon-md .fa, .icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px;
}


.toggler {
    height: 100%;
    z-index: 3;
    /* position: absolute; */
  }
  #button {
    padding: .5em 1em;
    text-decoration: none;
  }
  #effect {
    position: relative;
    width: 330px;
    height: 100%;
    padding: 0.4em;
  }
  #effect h3 {
    margin: 0;
    padding: 0.4em;
    text-align: center;
  }


  #slider12a .slider-selection {
	   background: orange;
  }
  #slider12a .slider-handle {
	   background: orange;
  }

  .star-rating {
    line-height:32px;
    font-size:1.25em;
  }

  .star-rating .glyphicon-star{color: orange;}
