body *
{
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  font-weight: bold !important;
  font-size: 10px;
  /* font-family: 'Open Sans'; */
}

.container {  
  background-color: #f1f1f1 !important;
  max-width: 330px;
  width: 330px !important;
}

div {
  background-color: transparent !important;
}

input {
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-radius: 0px !important;
  background-color: transparent !important;
  font-style: oblique;
}

button {
  background: linear-gradient(to right bottom, #f4b840, #f4a15b, #df4a50);
  border : none !important;
}

.input-group-text {
  border : none !important;
}

/*Login*/
.main {
  max-width: 330px;
  margin: 0 auto;
  padding: 15px;
  text-align: center!important;
}
h3 {
  text-align: center;
  line-height: 300%;
}

/*User Landing*/
.background-blue {
    background-image: url("/img/BGTop_Blue.png");
    background-repeat: no-repeat, no-repeat;
    background-size: contain;
}

.background-red {
  background-image: url("/img/BGTop_Red.png");
  background-repeat: no-repeat, no-repeat;
  background-size: contain;
}

.img-profile {
  width: 50px;
  height: 50px;
}

.background-white {
  background-color: white;
}

.div-button-yes {
  background: linear-gradient(to right, #f4b840, #f4a15b, #df4a50);
  border : none !important;
  padding : 10px;
}

.div-button-no {
  background-color: #b2b2b2 !important;
  border : none !important;
  padding : 10px;
}

.div-request {
  background-color: white !important;
  padding: 10px 0;
}

.ul-request-list li {
  margin-bottom: 10px;
}